.title {
    display: flex;
    flex-direction: row;
    background-color: #84d4c8;
    justify-content: center;
    align-items: center;
    min-height: auto;
}

.box {
    margin-bottom: 1px;
}

.sizeChoice {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding-bottom: 15px;
}

.transition{
    transition: background-color 0.5s ease;
}

#psize {
    color: #ffffff;
}

.sizing {
    min-width: 70vw;
    width: 100%;
    margin: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: white;
    padding: 5px;
    border-radius: 3px;
    transition: all .3s ease-out;
}

.blackBoxInfo {
    background-color: rgb(235, 233, 233);
    width: 50vw;
    font-size: 60%;
    color: black;
    font-weight: 600;
    padding: 10px;
    text-align: start;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1%;
}

input[type="radio"]{
    height: 5;
    width: 5;
  }

.sizing label {
    font-size: 150%;
    cursor: pointer;
}

.input {
    display: flex;
    justify-content: start;
}

input[type=text] {
    background-color: white;
    width: 80%;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.2);
  }

.submitting {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.submitting button{
    font-family: 'Nunito Sans', sans-serif;
    padding:20px;
    background-color:#84d4c8;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 120%;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
}

#slogan {
    text-align: center;
    font-size: 30px;
    padding: 5px;
    padding-top: 25px;
    margin: 0;
    color: white;
    height: 70px;
}

.labels {
    margin-top: 20px;
    margin: 8px;
    font-size: 125%;
    font-weight: 600;
    display: flex;
    justify-content: start;
}

.labelsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleOfLabels {
    font-size: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #84d4c8;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    padding: 10px;
}


